<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,
   maximum-scale=1.0, user-scalable=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link href="/css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <header class="header-header">
      <div class="div-header-top">
        <div class="div-logo-meli">
          <img src="img/logo-mercado-liebre.svg" alt="" class="logo-meli" />
        </div>
        <nav>
          <input
            type="search"
            placeholder="Que quieres buscar"
            class="search-header"
          />
        </nav>
        <div class="containterCuotasTablet">
          <span> <i class="fas fa-hand-holding-usd"></i></span>
          <span>Comprá en cuotas y sin tarjeta de crédito</span>
        </div>
      </div>

      <div class="containterCuotas">
        <span> <i class="fas fa-hand-holding-usd"></i></span>
        <span>Comprá en cuotas y sin tarjeta de crédito</span>
      </div>

      <nav class="nav-navegador">
        <div class="div-nav-navegador">
          <div>
        <ul>
          <li>
            <a href="">Ofertas </a>
          </li>
          <li>
            <a href="">Tiendas Oficiales </a>
          </li>
          <li>
            <a href="">Vender </a>
          </li>
          <li>
            <a href="">Ayuda </a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <a href="">Creá tu cuenta </a>
            <i class="far fa-id-card"></i>
          </li>
          <li>
            <a href="">Ingresá </a>
            <i class="fas fa-sign-in-alt"></i>
          </li>
          <li>
            <a href="">Mis compras </a>
            <i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </nav>

    </div>


      <div class="burger-menu">
        <a href=""><i class="fas fa-bars"></i></a>
      </div>
      
    </header>

    <main>
      <img class="imgBanner" src="img/img-home-banner.jpg" alt="" />
      <h1 class="titulares">Basado en tu última visita</h1>

      <section class="ultimaVisita">
        <article>
          <img src="img/img-cafetera-moulinex.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
          </div>
          <h1 class="descripcion">Cafetera Moulinex</h1>
        </article>

        <article>
          <img src="img/img-macbook-pro-2019.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
          </div>

          <h1 class="descripcion">MacBook Pro 2019</h1>
        </article>

        <article>
          <img src="img/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">70.500</p>
            <p class="descuentos">10% OFF</p>
          </div>

          <h1 class="descripcion">Samsung Galaxy S10</h1>
        </article>

        <article>
          <img src="img/img-tv-samsung-smart.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">23.200</p>
            <p class="descuentos">5% OFF</p>
          </div>

          <h1 class="descripcion">SmartTv Samsung 43"</h1>
        </article>
      </section>

      <h1 class="titulares">Seccion de ofertas</h1>

      <section>
        <article>
          <img src="img/img-cafetera-moulinex.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
          </div>

          <h1 class="descripcion">Cafetera Moulinex</h1>
        </article>

        <article>
          <img src="img/img-macbook-pro-2019.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
          </div>

          <h1 class="descripcion">MacBook Pro 2019</h1>
        </article>

        <article>
          <img src="img/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">70.500</p>
            <p class="descuentos">10% OFF</p>
          </div>

          <h1 class="descripcion">Samsung Galaxy S10</h1>
        </article>

        <article>
          <img src="img/img-tv-samsung-smart.jpg" alt="" />
          <div class="div-article">
            <i class="fas fa-truck"></i>
            <p class="precios">23.200</p>
            <p class="descuentos">5% OFF</p>
          </div>

          <h1 class="descripcion">SmartTv Samsung 43"</h1>
        </article>
      </section>
    </main>

    <footer>
      <div class="div-footer">
      <div>
        <div class="div-icon">
        <i class="fas fa-credit-card"></i>
      </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>   
      </div>

      <div>
        <div class="div-icon">
        <i class="fas fa-gift"></i>
      </div>

        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.
        </p> 
     </div>
      <div>
        <div class="div-icon">

        <i class="fas fa-user-shield"></i>
      </div>

        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.
        </p> 
      </div>

      <div>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

      </div>
    </div>
    </footer>
  </body>
</html>
